<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JANUS/lib/sirius-base-2.5.004.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.marconi.fusion.base.application.BaseApplication"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="com.ericsson.oss.ianus.Ianus -p run\CONF\Application.properties -p run\CONF\Ianus.properties -p run\CONF\ORB.properties -p run\CONF\Alarm.properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JANUS"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Dlog4j.configuration=file:run\conf\log4j.xml -Xms256M -Xmx512M -XX:MaxPermSize=256m"/>
</launchConfiguration>
